interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/trending_pools?page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x80464c5024253974506e8dd36b8ee49791c1f1ea","type":"pool","attributes":{"base_token_price_usd":"0.479939411391562","base_token_price_native_currency":"0.000207587174267348","quote_token_price_usd":"2308.66792869639","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.00020759","quote_token_price_base_token":"4817.25","address":"0x80464c5024253974506e8dd36b8ee49791c1f1ea","name":"BTCINU
        / WETH 1%","pool_created_at":"2024-01-16T13:04:23Z","fdv_usd":"10078728","market_cap_usd":null,"price_change_percentage":{"h1":"-1.62","h24":"-16.23"},"transactions":{"h1":{"buys":19,"sells":7,"buyers":18,"sellers":7},"h24":{"buys":705,"sells":296,"buyers":471,"sellers":209}},"volume_usd":{"h1":"22072.06816185500264","h24":"807653.151517764841766624307"},"reserve_in_usd":"366528.3572"},"relationships":{"base_token":{"data":{"id":"eth_0x584a4dd38d28fd1ea0e147ba7b70aed29a37e335","type":"token"}},"quote_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"dex":{"data":{"id":"uniswap_v3","type":"dex"}}}},{"id":"eth_0xad9ef19e289dcbc9ab27b83d2df53cdeff60f02d","type":"pool","attributes":{"base_token_price_usd":"3.64033915573355","base_token_price_native_currency":"0.00154594570422348","quote_token_price_usd":"2308.66792869639","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.00154595","quote_token_price_base_token":"646.85","address":"0xad9ef19e289dcbc9ab27b83d2df53cdeff60f02d","name":"SAVM
        / WETH 1%","pool_created_at":[...]
