interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/pools/0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852/info
  response:
    body:
      string: "{\"data\":[{\"id\":\"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"type\":\"token\",\"attributes\":{\"address\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"name\":\"Wrapped
        Ether\",\"symbol\":\"WETH\",\"coingecko_coin_id\":\"weth\",\"image_url\":\"https://assets.coingecko.com/coins/images/2518/small/weth.png?1696503332\",\"websites\":[\"https://weth.io/\"],\"description\":\"What
        is WETH (Wrapped ETH)?\\r\\nWETH is the tokenized/packaged form of ETH that
        you use to pay for items when you interact with Ethereum dApps. WETH follows
        the ERC-20 token standards, enabling it to achieve interoperability with other
        ERC-20 tokens.\_\\r\\n\\r\\nThis offers more utility to holders as they can
        use it across networks and dApps. You can stake, yield farm, lend, and provide
        liquidity to various liquidity pools with WETH.\_\\r\\n\\r[...]
