interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/new_pools?page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x7c602e88a64180f77d0a973dabac614826c4330f","type":"pool","attributes":{"base_token_price_usd":"0.0000285096521923469","base_token_price_native_currency":"0.0000000126065775","quote_token_price_usd":"2311.07343104535","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.00000001","quote_token_price_base_token":"79323671","address":"0x7c602e88a64180f77d0a973dabac614826c4330f","name":"NEURALINK
        / WETH","pool_created_at":"2024-01-30T08:55:59Z","fdv_usd":"2850.97","market_cap_usd":null,"price_change_percentage":{"h1":"0","h24":"0"},"transactions":{"h1":{"buys":1,"sells":0,"buyers":1,"sellers":0},"h24":{"buys":1,"sells":0,"buyers":1,"sellers":0}},"volume_usd":{"h1":"69.3322029313606","h24":"69.3322029313606"},"reserve_in_usd":"5684.1307"},"relationships":{"base_token":{"data":{"id":"eth_0x4e0dd49b93b23196a87478413dedc93093923344","type":"token"}},"quote_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"dex":{"data":{"id":"uniswap_v2","type":"dex"}}}},{"id":"eth_0xf5298c5059602ac140296590bd7e75de932fd112","type":"pool","attributes":{"base_token_price_usd":"0.0000000960655632452584","base_token_price_native_currency":"0.0000000000415607974616459315323630255721610497028588992","quote_token_price_usd":"13.58666997543","quote_token_price_native_currency":"0.0058779943608454800189996193088","base_token_price_quote_token":"0.000000007070574572","quote_token_price_base_token":"141431222","address":"0xf5298[...]
