interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/search/pools?query=ETH&page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool","attributes":{"base_token_price_usd":"2308.69177639539","base_token_price_native_currency":"1.0","quote_token_price_usd":"1.00039534571309","quote_token_price_native_currency":"0.000433304453718493","base_token_price_quote_token":"2307.85","quote_token_price_base_token":"0.00043330","address":"0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","name":"WETH
        / USDC 0.05%","pool_created_at":null,"fdv_usd":"7559902821","market_cap_usd":null,"price_change_percentage":{"h1":"0","h24":"2.11"},"transactions":{"h1":{"buys":94,"sells":98,"buyers":78,"sellers":89},"h24":{"buys":2357,"sells":3029,"buyers":1501,"sellers":2147}},"volume_usd":{"h1":"3019959.6738788216702","h24":"145958311.8859688592294102"},"reserve_in_usd":"139620114.2065"},"relationships":{"base_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"quote_token":{"data":{"id":"eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","type":"token"}},"dex":{"data":{"id":"uniswap_v3","type":"dex"}}}},{"id":"eth_0xcbcdf9626bc03e24f779434178a73a0b4bad62ed","type":"pool","attributes":{"base_token_price_usd":"43485.5147522044","base_token_price_native_currency":"18.7862796551448","quote_token_price_usd":"2314.74861177719","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"18.79","quote_token_price_base_token":"0.05323034","address":"0xcbcdf9626bc03e24f779434178a73a0b4bad62ed","name":"WBTC
        / WETH 0.3%","pool_created_at":nu[...]
