interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/dexes?network=eth&page=1
  response:
    body:
      string: '{"data":[{"id":"uniswap_v2","type":"dex","attributes":{"name":"Uniswap
        V2"}},{"id":"sushiswap","type":"dex","attributes":{"name":"SushiSwap"}},{"id":"uniswap_v3","type":"dex","attributes":{"name":"Uniswap
        V3"}},{"id":"shibaswap","type":"dex","attributes":{"name":"Shibaswap"}},{"id":"templedao","type":"dex","attributes":{"name":"TempleDAO"}},{"id":"standard_ethereum","type":"dex","attributes":{"name":"Standard
        (Ethereum)"}},{"id":"swapr_ethereum","type":"dex","attributes":{"name":"Swapr
        (Ethereum)"}},{"id":"degenswap","type":[...]
