interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/pools/0x60594a405d53811d3bc4766596efd80fd545a270/ohlcv/day?aggregate=1&limit=100&currency=usd&token=base
  response:
    body:
      string: '{"data":{"id":"9db05c9c-a541-4033-9881-46903ebb008f","type":"ohlcv_request_response","attributes":{"ohlcv_list":[[1706572800,1.00028086340554,1.00751213416086,0.996745969202366,1.00207403196705,1144359.124734111],[1706486400,0.998486889512653,1.03014500230563,0.838355816571947,1.00028086340554,9117748.91749942],[1706400000,1.00060827161048,1.03378583185831,0.992444779209574,0.998486889512653,3562891.90695628],[1706313600,0.999215828155563,1.01637450820325,0.996704657890995,1.00060827161048,2841533.48557999],[1706227200,1.00071561560344,1.05241076369455,0.986825787834256,0.999215828155563,8148789.42418836][...]
