interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/tokens/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48/pools?page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool","attributes":{"base_token_price_usd":"2308.67990507145","base_token_price_native_currency":"1.0","quote_token_price_usd":"1.00152745647791","quote_token_price_native_currency":"0.000433324696824134","base_token_price_quote_token":"2307.74","quote_token_price_base_token":"0.00043332","address":"0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","name":"WETH
        / USDC 0.05%","pool_created_at":null,"token_price_usd":"1.00152745647791","fdv_usd":"23245428317","market_cap_usd":"26483743682.5816","price_change_percentage":{"h1":"-0.06","h24":"0.06"},"transactions":{"h1":{"buys":99,"sells":92,"buyers":91,"sellers":77},"h24":{"buys":3024,"sells":2362,"buyers":2144,"sellers":1503}},"volume_usd":{"h1":"2409118.5537699187932","h24":"145790160.1399379847399602"},"reserve_in_usd":"139601822.3701"},"relationships":{"base_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"quote_token":{"data":{"id":"eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","type":"token"}},"dex":{"data":{"id":"uniswap_v3","type":"dex"}}}},{"id":"eth_0xbebc44782c7db0a1a60cb6fe97d0b483032ff1c7","type":"pool","attributes":{"base_token_price_usd":"1.00027043758567","base_token_price_native_currency":"0.0004334223262222984293375368720824","quote_token_price_usd":"1.00038131404675","quote_token_price_native_currency":"0.000433467057604747","base_token_price_quote_token":"0.99989681","quote_token_price_base_token":"1.00010321","address":"0xbebc44782c7db0a1a60cb6fe97d0b483032ff1c7","name":"DAI
[...]
