interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/dexes/sushiswap/pools?page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x06da0fd433c1a5d7a4faa01111c044910a184553","type":"pool","attributes":{"base_token_price_usd":"0.997085342759937","base_token_price_native_currency":"0.000432658662153308","quote_token_price_usd":"2311.47879759498","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.00043266","quote_token_price_base_token":"2311.29","address":"0x06da0fd433c1a5d7a4faa01111c044910a184553","name":"USDT
        / WETH","pool_created_at":null,"fdv_usd":"43877574319","market_cap_usd":"95748894934.7405","price_change_percentage":{"h1":"0.63","h24":"0.24"},"transactions":{"h1":{"buys":4,"sells":15,"buyers":4,"sellers":14},"h24":{"buys":258,"sells":381,"buyers":242,"sellers":334}},"volume_usd":{"h1":"3996.9579570510938","h24":"583040.2623436940371824"},"reserve_in_usd":"14218317.9192"},"relationships":{"base_token":{"data":{"id":"eth_0xdac17f958d2ee523a2206206994597c13d831ec7","type":"token"}},"quote_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"dex":{"data":{"id":"sushiswap","type":"dex"}}}},{"id":"eth_0x397ff1542f962076d0bfe58ea045ffa2d347aca0","type":"pool","attributes":{"base_token_price_usd":"0.998502142681561","base_token_price_native_currency":"0.000433194415893569","quote_token_price_usd":"2311.81914206438","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.00043319","quote_token_price_base_token":"2308.43","address":"0x397ff1542f962076d0bfe58ea045ffa2d347aca0","name":"USDC
        / WETH","pool_created_at":n[...]
