interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/simple/networks/eth/token_price/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48?network=eth&contract_addresses=0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2%2C0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
  response:
    body:
      string: '{"data":{"id":"ff9bff0f-015e-4ca2-83a0-a28ea7f88864","type":"simple_token_price","attributes":{"token_prices":{"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48":"1.00055136391121","0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2":"2224.75608258162"}}}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"419d60907ab7b2e164e2792812f3ecda"
    status:
      code: 200
      message: OK
version: 1
