interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/pools?page=1
  response:
    body:
      string: '{"data":[{"id":"eth_0x331399c614ca67dee86733e5a2fba40dbb16827c","type":"pool","attributes":{"base_token_price_usd":"0.0000000964763195993233","base_token_price_native_currency":"0.0000000000418322469382322","quote_token_price_usd":"2308.66792869639","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.000000000041832247","quote_token_price_base_token":"23905003274","address":"0x331399c614ca67dee86733e5a2fba40dbb16827c","name":"PORK
        / WETH 1%","pool_created_at":"2024-01-30T06:22:23Z","fdv_usd":"40586623","market_cap_usd":null,"price_change_percentage":{"h1":"-1.97","h24":"80646.61"},"transactions":{"h1":{"buys":1714,"sells":586,"buyers":1215,"sellers":368},"h24":{"buys":7099,"sells":1949,"buyers":3734,"sellers":886}},"volume_usd":{"h1":"5334328.615471129498243858259500067","h24":"20526313.715760852375759212856901067"},"reserve_in_usd":"2756090.8628"},"relationships":{"base_token":{"data":{"id":"eth_0xb9f599ce614feb2e1bbe58f180f370d05b39344e","type":"token"}},"quote_token":{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token"}},"dex":{"data":{"id":"uniswap_v3","type":"dex"}}}},{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool","attributes":{"base_token_price_usd":"2308.66792869639","base_token_price_native_currency":"1.0","quote_token_price_usd":"1.00058089882111","quote_token_price_native_currency":"0.000433466272542858","base_token_price_quote_token":"2306.98","quote_token_price_base_token":"0.00043347","address":"0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","name":"WETH
        / USDC 0.05%","pool_created[...]
