interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/tokens/multi/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
  response:
    body:
      string: '{"data":[{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token","attributes":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","coingecko_coin_id":"weth","decimals":18,"total_supply":"3275625054937015346398805.0","price_usd":"2308.68","fdv_usd":"7559863948","total_reserve_in_usd":"1869441549.35408698333021269161036973008","volume_usd":{"h24":"827972691.21062069561597130447693641757"},"market_cap_usd":null},"relationships":{"top_pools":{"data":[{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool"}]}}},{"id":"eth_0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","type":"token","attributes":{"address":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","name":"USD
        Coin","symbol":"USDC","coingecko_coin_id":"usd-coin","decimals":6,"total_supply":"23209997929520621.0","price_usd":"1.00022086","fdv_usd":"23215102214","total_reserve_in_usd":"563009788.62459553372822923624357696339001647","volume_usd":{"h24":"361475643.907981931670279793256"},"market_cap_usd":"26481873964.336"},"relationships":{"top_pools":{"data":[{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool"}]}}}]}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e6e76a984ccf058f546cb0fab45969fa"
    status:
      code: 200
      message: OK
version: 1
