interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/tokens/info_recently_updated
  response:
    body:
      string: "{\"data\":[{\"id\":\"solana_9jaZhJM6nMHTo4hY9DGabQ1HNuUWhJtm7js1fmKMVpkN\",\"type\":\"token\",\"attributes\":{\"address\":\"9jaZhJM6nMHTo4hY9DGabQ1HNuUWhJtm7js1fmKMVpkN\",\"name\":\"AMC\",\"symbol\":\"AMC\",\"coingecko_coin_id\":null,\"image_url\":\"missing.png\",\"websites\":[],\"description\":\"\",\"gt_score\":33.639082568807346,\"metadata_updated_at\":\"2024-01-30T09:25:11Z\",\"discord_url\":null,\"telegram_handle\":\"\",\"twitter_handle\":\"\"},\"relationships\":{\"network\":{\"data\":{\"id\":\"solana\",\"type\":\"network\"}}}},{\"id\":\"solana_14KMnpewD2qUYZfJCDKG7Ffz1Gze3mYU3Kgqrg52GHUd\",\"type\":\"token\",\"attributes\":{\"address\":\"14KMnpewD2qUYZfJCDKG7Ffz1Gze3mYU3Kgqrg52GHUd\",\"name\":\"Grok\",\"symbol\":\"GROK\",\"coingecko_coin_id\":null,\"image_url\":\"missing.png\",\"websites\":[],\"description\":\"\",\"gt_score\":21.40678899082569,\"metadata_updated_at\":\"2024-01-30T09:24:41Z\",\"discord_url\":null,\"telegram_handle\":\"\",\"twitter_handle\":\"\"},\"r[...]
