interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks?page=1
  response:
    body:
      string: '{"data":[{"id":"eth","type":"network","attributes":{"name":"Ethereum","coingecko_asset_platform_id":"ethereum"}},{"id":"bsc","type":"network","attributes":{"name":"BNB
        Chain","coingecko_asset_platform_id":"binance-smart-chain"}},{"id":"polygon_pos","type":"network","attributes":{"name":"Polygon
        POS","coingecko_asset_platform_id":"polygon-pos"}},{"id":"avax","type":"network","attributes":{"name":"Avalanche","coingecko_asset_platform_id":"avalanche"}},{"id":"movr","type":"network","attributes":{"name":"Moonriver","coingecko_asset_platform_id":"moonriver"}},{"id":"cro","type":"net[...]
