interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/trending_pools?include=base_token%2Cquote_token&page=1
  response:
    body:
      string: '{"data":[{"id":"bsc_0x1e8d7ab96323953fac85ab687f5d38b45344e62d","type":"pool","attributes":{"base_token_price_usd":"0.182498729603521","base_token_price_native_currency":"0.000586887931709497604300800303775529740201159","quote_token_price_usd":"0.999774146877982","quote_token_price_native_currency":"0.00321281507345533","base_token_price_quote_token":"0.18267093","quote_token_price_base_token":"5.47432465","address":"0x1e8d7ab96323953fac85ab687f5d38b45344e62d","name":"CGPT
        / USDT 0.05%","pool_created_at":"2023-12-01T22:15:50Z","fdv_usd":"182221786","market_cap_usd":"70413001.246109","price_change_percentage":{"h1":"0.13","h24":"6.13"},"transactions":{"h1":{"buys":30,"sells":32,"buyers":11,"sellers":31},"h24":{"buys":855,"sells":912,"buyers":270,"sellers":495}},"volume_usd":{"h1":"23922.02852763993104","h24":"1382195.5385761563877643"},"reserve_in_usd":"2302224.5999"},"relationships":{"base_token":{"data":{"id":"bsc_0x9840652dc04fb9db2c43853633f0f62be6f00f98","type":"token"}},"quote_token":{"data":{"id":"bsc_0x55d398326f99059ff775485246999027b3197955","type":"token"}},"network":{"data":{"id":"bsc","type":"network"}},"dex":{"data":{"id":"pancakeswap-v3-bsc","type":"dex"}}}},{"id":"bsc_0x6d2a0bc9b2330e08a207c7819daf630871167819","type":"pool","attributes":{"base_token_price_usd":"0.00000000000411626769934155","base_token_price_native_currency":"0.0000000000000132206695199782","quote_token_price_usd":"310.575607306986","quote_token_price_native_currency":"1.0","base_token_price_quote_token":"0.000000000000013221","quote_token_price_base_token":"75639134499873","address":"0x6d2a0bc9b2330e08a207c7819daf630871167819","[...]
