interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/onchain/networks/eth/tokens/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
  response:
    body:
      string: '{"data":{"id":"eth_0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","type":"token","attributes":{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH","coingecko_coin_id":"weth","decimals":18,"total_supply":"3275625054937015346398805.0","price_usd":"2308.68","fdv_usd":"7559876886","total_reserve_in_usd":"1869441549.35408698333021269161036973008","volume_usd":{"h24":"827972691.21062069561597130447693641757"},"market_cap_usd":null},"relationships":{"top_pools":{"data":[{"id":"eth_0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640","type":"pool"},{"id":"eth_0xcbcdf9626bc03e24f779434178a73a0b4bad62ed","type":"pool"},{"id":"eth_0x4585fe77225b41b697c938b018e2ac67ac5a20c0","type":"pool"}]}}}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8f0cfdf029ddce6cf909cc7dd1037863"
    status:
      code: 200
      message: OK
version: 1
