interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-cg-demo-api-key:
      - random-key
    method: GET
    uri: https://api.coingecko.com/api/v3/ping
  response:
    body:
      string: '{"status":{"timestamp":"2024-01-09T07:14:10.135+00:00","error_code":10002,"error_message":"API
        Key Missing"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
