interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/exchanges/binance
  response:
    body:
      string: "{\"name\":\"Binance\",\"year_established\":2017,\"country\":\"Cayman
        Islands\",\"description\":\"\",\"url\":\"https://www.binance.com/\",\"image\":\"https://assets.coingecko.com/markets/images/52/small/binance.jpg?1519353250\",\"facebook_url\":\"https://www.facebook.com/binanceexchange\",\"reddit_url\":\"https://www.reddit.com/r/binance/\",\"telegram_url\":\"\",\"slack_url\":\"\",\"other_url_1\":\"https://medium.com/binanceexchange\",\"other_url_2\":\"https://steemit.com/@binanceexchange\",\"twitter_handle\":\"binance\",\"has_trading_incentive\":false,\"centralized\":true,\"public_notice\":\"\",\"alert_notice\":\"\",\"trust_score\":9,\"trust_score_rank\":10,\"trade_volume_24h_btc\":269385.8316205569,\"trade_volume_24h_btc_normalized\":133408.89822528098,\"tickers\":[{\"base\":\"FDUSD\",\"target\":\"USDT\",\"market\":{\"name\":\"Binance\",\"identifier\":\"binance\",\"has_trading_incentive\":false},\"last\":0.9998,\"volume\":674491725.0,\"converted_last\":{\"btc\":2.344e-05,\"eth\":0.00039855,\"usd\":0.999325},\"converted_volume\":{\"btc\":15793,\"eth\":268583,\"usd\":673438631},\"trust_score\":\"green\",\"bid_ask_spread_percentage\":0.010002,\"timestamp\":\"2024-01-15T08:31:52+00:00\",\"last_traded_at\":\"2024-01-15T08:31:52+00:00\",\"last_fetch_at\":\"2024-01-15T08:31:52+00:00\",\"is_anomaly\":false,\"is_stale\":false,\"trade_url\":\"https://www.binance.com/en/trade/FDUSD_USDT?ref=37754157\",\"token_info_url\":null,\"coin_id\":\"first-digital-usd\",\"target_coin_id\":\"tether\"},{\"base\":\"TUSD\",\"target\":\"USDT\",\"market\":{\"name\":\"Binance\",\"identifier\":\"binance\",\"has_trading_incentive\":false},\"last\":0.9969,\"volume\":126651634.0,\"converted_last\":{\"btc\":2.333e-05,\"eth\":0.00039616,\"usd\":0.995925},\"converted_volume\":{\"btc\":2954,\"eth\":50156,\"usd\":126090354},\"trust_score\":\"green\",\"bid_ask_spread_percentage\":0.010029,\"timestamp\":\"2024-01-15T08:39:33+00:00\",\"last_traded_at\":\"2024-01-15T08:39:33+00:00\",\"last_fetch_at\[...]
