interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/exchanges/binance/tickers?include_exchange_logo=False&depth=False&order=trust_score_desc
  response:
    body:
      string: '{"name":"Binance","tickers":[{"base":"FDUSD","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":0.9999,"volume":679455757.0,"converted_last":{"btc":2.345e-05,"eth":0.00039807,"usd":0.999884},"converted_volume":{"btc":15915,"eth":270208,"usd":678712741},"trust_score":"green","bid_ask_spread_percentage":0.010001,"timestamp":"2024-01-15T08:52:46+00:00","last_traded_at":"2024-01-15T08:52:46+00:00","last_fetch_at":"2024-01-15T08:53:40+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://www.binance.com/en/trade/FDUSD_USDT?ref=37754157","token_info_url":null,"coin_id":"first-digital-usd","target_coin_id":"tether"},{"base":"TUSD","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":0.9969,"volume":126651634.0,"converted_last":{"btc":2.333e-05,"eth":0.00039616,"usd":0.995925},"converted_volume":{"btc":2954,"eth":50156,"usd":126090354},"trust_score":"green","bid_ask_spread_percentage":0.010029,"timestamp":"2024-01-15T08:39:33+00:00","last_traded_at":"2024-01-15T08:39:33+00:00","last_fetch_at":"2024-01-15T08:39:33+00:00","is_anomaly":false,"is_stale[...]
