interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/exchanges
  response:
    body:
      string: "[{\"id\":\"okex\",\"name\":\"OKX\",\"year_established\":2017,\"country\":\"Seychelles\",\"description\":\"\",\"url\":\"https://www.okx.com\",\"image\":\"https://assets.coingecko.com/markets/images/96/small/WeChat_Image_20220117220452.png?1642428377\",\"has_trading_incentive\":false,\"trust_score\":10,\"trust_score_rank\":1,\"trade_volume_24h_btc\":51619.13648480571,\"trade_volume_24h_btc_normalized\":51619.13648480571},{\"id\":\"gdax\",\"name\":\"Coinbase
        Exchange\",\"year_established\":2012,\"country\":\"United States\",\"description\":\"\",\"url\":\"https://www.coinbase.com/\",\"image\":\"https://assets.coingecko.com/markets/images/23/small/Coinbase_Coin_Primary.png?1621471875\",\"has_trading_incentive\":false,\"trust_score\":10,\"trust_score_rank\":2,\"trade_volume_24h_btc\":42598.74134324577,\"trade_volume_24h_btc_normalized\":42598.74134324577},{\"id\":\"bybit_spot\",\"name\":\"[...]
