interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/asset_platforms?filter=nft
  response:
    body:
      string: '[{"id":"klay-token","chain_identifier":null,"name":"Klaytn","shortname":"","native_coin_id":"klay-token"},{"id":"polygon-pos","chain_identifier":137,"name":"Polygon
        POS","shortname":"MATIC","native_coin_id":"matic-network"},{"id":"solana","chain_identifier":null,"name":"Solana","shortname":"Solana","native_coin_id":"solana"},{"id":"arbitrum-one","chain_identifier":42161,"name":"Arbitrum
        One","shortname":"Arbitrum","native_coin_id":"ethereum"},{"id":"binance-smart-chain","chain_identifier":56,"name":"BNB
        Smart Chain","shortname":"BSC","native_coin_id":"binancecoin"},{"id":"ronin","chain_identifier":null,"name":"Ronin","shortname":"ron","native_coin_id":"ronin"},{"id":"avalanche","chain_identifier":43114,"name":"Avalanche","shortname":"AVAX","native_coin_id":"avalanche-2"},{"id":"optimistic-ethereum","chain_identifier":10,"name":"Optimism","shortname":"Optimism","native_coin_id":"ethereum"},{"id":"ethereum","chain_identifier":1,"name":"Ethereum","shortname":"Ethereum","native_coin_id":"ethereum"},{"id":"ordinals","chain_identifier":null,"name":"Ordinals","shortname":"Ordinals","native_coin_id":"bitcoin"}]'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b0f92437b8f67b8281a4389056e9d0e"
    status:
      code: 200
      message: OK
version: 1
