interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/derivatives/exchanges/bitmex
  response:
    body:
      string: '{"name":"BitMEX (Derivative)","open_interest_btc":8398.84,"trade_volume_24h_btc":"16773.69","number_of_perpetual_pairs":105,"number_of_futures_pairs":34,"image":"https://assets.coingecko.com/markets/images/378/small/BitMEX.png?1591671734","year_established":null,"country":"Seychelles","description":"","url":"https://www.bitmex.com/"}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b35116348a26033672cfe53fcb413bc"
    status:
      code: 200
      message: OK
version: 1
