interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/derivatives
  response:
    body:
      string: '[{"market":"Deepcoin (Derivatives)","symbol":"ETHUSDT","index_id":"ETH","price":"2511.68","price_percentage_change_24h":-1.6064996084573218,"contract_type":"perpetual","index":2511.9685,"basis":-0.03985324138370136,"spread":0.01,"funding_rate":-0.007602,"open_interest":7203770699.25,"volume_24h":406779305.4613411,"last_traded_at":1705308730,"expired_at":null},{"market":"Binance
        (Futures)","symbol":"BTCUSDT","index_id":"BTC","price":"42668.94","price_percentage_change_24h":-0.6374761528081522,"contract_type":"perpetual","index":42708.09234043,"basis":0.00021621342605600825,"spread":0.01,"funding_rate":0.01,"open_interest":3235905328.04,"volume_24h":8839516821.98568,"last_traded_at":1705309005,"expired_at":null},{"market":"Bybit
        (Futures)","symbol":"BTCUSDT","index_id":"BTC","price":"42680.93","price_percentage_change_24h":-0.6511[...]
