interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/derivatives/exchanges
  response:
    body:
      string: "[{\"name\":\"Binance (Futures)\",\"id\":\"binance_futures\",\"open_interest_btc\":227820.9,\"trade_volume_24h_btc\":\"1233733.15\",\"number_of_perpetual_pairs\":302,\"number_of_futures_pairs\":44,\"image\":\"https://assets.coingecko.com/markets/images/466/small/binance_futures.jpg?1568609512\",\"year_established\":2019,\"country\":null,\"description\":\"\",\"url\":\"https://www.binance.com/\"},{\"name\":\"Bybit
        (Futures)\",\"id\":\"bybit\",\"open_interest_btc\":151574.59,\"trade_volume_24h_btc\":\"353080.73\",\"number_of_perpetual_pairs\":326,\"number_of_futures_pairs\":88,\"image\":\"https://assets.coingecko.com/markets/images/460/small/photo_2021-08-12_18-27-50.jpg?1628764200\",\"year_established\":2018,\"country\":null,\"description\":\"Bybit
        is a cryptocurrency exchange that offers a professional platform featuring
        an ultra-fas[...]
