interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/top_gainers_losers?vs_currency=usd&duration=24h&top_coins=1000
  response:
    body:
      string: '{"top_gainers":[{"id":"dogwifcoin","symbol":"wif","name":"dogwifhat","image":"https://assets.coingecko.com/coins/images/33566/original/dogwifhat.jpg?1702499428","market_cap_rank":282,"usd":0.1448355261900145,"usd_24h_vol":23014686.12597986,"usd_24h_change":86.94463914860239},{"id":"solidus-aitech","symbol":"aitech","name":"Solidus
        Ai Tech","image":"https://assets.coingecko.com/coins/images/22114/original/CMC_200x200_AITECH.png?1696521456","market_cap_rank":823,"usd":0.0628614436187817,"usd_24h_vol":7546863.689426936,"usd_24h_change":64.53051240682304},{"id":"bazed-games","symbol":"bazed","name":"Bazed
        Games","image":"https://assets.coingecko.com/coins/images/31195/original/IMG_1849.jpeg?1696530023","market_cap_rank":909,"usd":0.260[...]
