interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/list/new
  response:
    body:
      string: "[{\"id\":\"intellix\",\"symbol\":\"itx\",\"name\":\"Intellix\",\"activated_at\":1704791992},{\"id\":\"etgm-ordinals\",\"symbol\":\"etgm\",\"name\":\"ETGM
        (Ordinals)\",\"activated_at\":1704789828},{\"id\":\"bitci-blok\",\"symbol\":\"blok\",\"name\":\"Bitci
        BLOK\",\"activated_at\":1704789642},{\"id\":\"coast-cst\",\"symbol\":\"cst\",\"name\":\"Coast
        CST\",\"activated_at\":1704788580},{\"id\":\"boss-blockchain\",\"symbol\":\"bbc\",\"name\":\"Boss
        Blockchain\",\"activated_at\":1704788310},{\"id\":\"dragon-ordinals\",\"symbol\":\"drag\",\"name\":\[...]
