interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/search?query=bitcoin
  response:
    body:
      string: '{"coins":[{"id":"bitcoin","name":"Bitcoin","api_symbol":"bitcoin","symbol":"BTC","market_cap_rank":1,"thumb":"https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png","large":"https://assets.coingecko.com/coins/images/1/large/bitcoin.png"},{"id":"wrapped-bitcoin","name":"Wrapped
        Bitcoin","api_symbol":"wrapped-bitcoin","symbol":"WBTC","market_cap_rank":17,"thumb":"https://assets.coingecko.com/coins/images/7598/thumb/wrapped_bitcoin_wbtc.png","large":"https://assets.coingecko.com/coins/images/7598/large/wrapped_bitcoin_wbtc.png"},{"id":"bitcoin-cash","name":"Bitcoin
        Cash","api_symbol":"bitcoin-cash","symbol":"BCH","market_cap_rank":22,"thumb":"https://a[...]
