interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/search/trending
  response:
    body:
      string: "{\n\"coins\": [{\"item\":{\"id\":\"celestia\",\"coin_id\":31967,\"name\":\"Celestia\",\"symbol\":\"TIA\",\"market_cap_rank\":44,\"thumb\":\"https://assets.coingecko.com/coins/images/31967/thumb/tia.jpg?1696530772\",\"small\":\"https://assets.coingecko.com/coins/images/31967/small/tia.jpg?1696530772\",\"large\":\"https://assets.coingecko.com/coins/images/31967/large/tia.jpg?1696530772\",\"slug\":\"celestia\",\"price_btc\":0.00030321974307348233,\"score\":0,\"data\":{\"price\":\"$13.60\",\"price_btc\":\"0.000303219743073482\",\"price_change_percentage_24h\":{\"aed\":-9.857372689140476,\"ars\":-9.66993480805656,\"aud\":-9.820977997585802,\"bch\":-9.84518278785175,\"bdt\":-9.538924195030674,\"bhd\":-9.487941529408667,\"bmd\":-9.856759102497167,\"bnb\":-8.590284192035854,\"brl\":-9.755050690537944,\"btc\":-10.826288144036864,\"cad\":-9.77803079250488,\"chf\":-10.054921579471623,\"clp\":-8.49232274656437,\"cny\":-9.81359860355301,\"czk\":-10.575738500286027,\"dkk\":-10.021733175907032,\"dot\":-9.733329684151446,\"eos\":-7.749248082975428,\"eth\":-10.581100045613042,\"eur\":-9.908222169121432,\"gbp\":-9.91560390539389,\"gel\":-9.856759102497032,\"hkd\":-9.900206772517237,\"huf\":-10.095790816677654,\"idr\":-9.805614030062323,\"ils\":-8.998032582778995,\"inr\":-9.98814273144673,\"jpy\":-10.177474642301556,\"krw\":-9.844583770830473,\"kwd\":-9.507955394160168,\"lkr\":-9.8880108659473,\"ltc\":-10.595096749910669,\"mmk\":-9.537974367568268,\"mxn\":-10.184631837930311,\"myr\":-9.924543256142531,\"ngn\":-12.19669119508295,\"nok\":-9.269561017115423,\"nzd\":-9.802088349639982,\"php\":-9.436134486125628,\"pkr\":-9.665127640338122,\"pln\":-10.352671188768872,\"rub\":-9.877475296862414,\"sar\":-9.851398650193254,\"sek\":-10.07777857663886,\"sgd\":-9.952003257229128,\"thb\":-9.093457820823762,\"try\":-9.601858755800787,\"twd\":-9.756216231606453,\"uah\":-9.665101379009226,\"usd\":-9.856759102497167,\"vef\":-9.856759102497065,\"vnd\":-9.991068795467339,\"xag\":-9.509502640242008,\"xau\":-9.137619390718402,\"xdr\":-9.665142209382143,\"xlm\":-8.702887991713522,\"xrp\":-9.037765831001071,\"yfi\":-6.849947279944195,\"zar\":-10.146725233586775,\"bits\":-10.826288144036868,\"link\":-9.732432489695055,\"sats\":-10.82628814403685},\"market_cap\":\"$1,979,553,375\",\"market_cap_btc\":\"44143.6491636696\",\"total_volume\":\"$362,990,991\",\"total_volume_btc\":\"8092.78771041213\",\"sparkline\":\"https://www.coingecko.com/coins/31967/sparkline.svg\",\"content\":null}}},{\"item\":{\"id\":\"injective-protocol\",\"coin_id\":12882,\"name\":\"Injective\",\"symbol\":\"INJ\",\"market_cap_rank\":26,\"thumb\":\"https://assets.coingecko.com/coins/images/12882/thumb/Secondary_Symbol.png?1696512670\",\"small\":\"https://assets.coingecko.com/coins/images/12882/small/Secondary_Symbol.png?1696512670\",\"large\":\"https://assets.coingecko.com/coins/images/12882/large/Secondary_Symbol.png?1696512670\",\"slug\":\"injective\",\"price_btc\":0.0009243311034427331,\"score\"[...]
