interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/global
  response:
    body:
      string: '{"data":{"active_cryptocurrencies":12190,"upcoming_icos":0,"ongoing_icos":49,"ended_icos":3376,"markets":974,"total_market_cap":{"btc":41281988.62378241,"eth":700907786.241728,"ltc":24847222208.268055,"bch":6996271718.688733,"bnb":5590034065.155844,"eos":2271495901279.9365,"xrp":3050893483235.8955,"xlm":14770353988544.414,"link":113053991437.1098,"dot":232932401094.74426,"yfi":223215282.4666682,"usd":1760551687555.1335,"aed":6466330293221.238,"ars":1436698178221093.8,"aud":2638491279243.3164,"bdt":193134863419094.5,"bhd":663698056829.5991,"bmd":1760551687555.1335,"brl":8550471380949.037,"cad":2359950875651.8438,"chf":1501342141493.0183,"clp":1.602489357046437e+15,"cny":12518402774360.785,"czk":39698817325712.37,"dkk":11980070082098.61,"eur":1606494612135.6233,"gbp":1381321811849.011,"gel":4713877143428.857,"hkd":13770329318829.547,"huf":609961297525790.2,"idr":2.7384960705179644e+16,"ils":6575220415096.556,"inr":145896365534464.34,"jpy":255977466594916.28,"krw":2324668002589131.5,"kwd":540968238138.44147,"lkr":567201852639950.2,"mmk":3.695315265614984e+15,"mxn":29669398020736.04,"myr":8214734174132.246,"ngn":1685957112553422.8,"nok":18134277448288.273,"nzd":2837995235925.3794,"php":98208865350198.19,"pkr":487856733484813.5,"pln":7012680537868.542,"rub":154841837813136.34,"sar":6602632204871.767,"sek":18071922228618.457,"sgd":2346054841181.9727,"thb":61399240103485.28,"try":52992081151006.6,"twd":55013722653826.29,"uah":66604346378775.81,"vef":176284040474.89572,"vnd":4.3092691834547176e+16,"zar":32822581304181.047,"xdr":1318533496464.042,"xag":75594233855.42184,"xau":855487276.0167899,"bits":41281988623782.414,"sats":4.128198862378241e+15},"total_volume":{"btc":1631603.8537719534,"eth":27702246.991850235,"ltc":982046283.6711019,"bch":276516327.7931829,"bnb":220937058.20582387,"eos":89777202840.96059,"xrp":120581632102.57036,"xlm":583774360022.023,"link":4468276220.754137,"dot":9206276537.647017,"yfi":8822223.134948427,"usd":69582958911.1611,"aed":255571249784.8032,"ars":56783172575708.734,"aud":104282101780.26662,"bdt":7633343207472.693,"bhd":26231592599.206337,"bmd":69582958911.1611,"brl":337943556543.8369,"cad":93273242685.014,"chf":5933812070[...]
