interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/global/decentralized_finance_defi
  response:
    body:
      string: '{"data":{"defi_market_cap":"76262802695.0969344339238830238","eth_market_cap":"301799236599.8985970991742582566","defi_to_eth_ratio":"25.2693822404196758397421384944386401048010776990332690161823653","trading_volume_24h":"3168737523.977935456010389913108","defi_dominance":"4.3329898553535910133567703779112745126561031357260154600662051","top_coin_name":"Lido
        Staked Ether","top_coin_defi_dominance":30.692229345869933}}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"26d417e6b26efda39055d6963908a91f"
    status:
      code: 200
      message: OK
version: 1
