interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/nfts/pudgy-penguins/tickers
  response:
    body:
      string: '{"tickers":[{"floor_price_in_native_currency":18.08,"h24_volume_in_native_currency":1169.79,"native_currency":"ethereum","native_currency_symbol":"ETH","updated_at":"2024-01-24T15:40:52.336Z","nft_marketplace_id":"blur","name":"Blur","image":"https://assets.coingecko.com/nft_marketplaces/images/20/small/blur_logo.jpg?1690993708","nft_collection_url":"https://blur.io/collection/pudgypenguins"},{"floor_price_in_native_currency":18.27,"h24_volume_in_native_currency":20.0,"native_currency":"ethereum","native_currency_symbol":"ETH","updated_at":"2024-01-24T15:40:52.615Z","nft_marketplace_id":"opensea","name":"OpenSea","image":"https://assets.coingecko.com/nft_marketplaces/images/1/small/Opensea.png?1686193426","nft_collection_url":"https://opensea.io/collection/pudgypenguins"},{"floor_price_in_native_currency":199.0,"h24_volume_in_native_currency":0.0,"native_currency":"ethereum","native_currency_symbol":"ETH","updated_at":"2024-01-24T15:40:52.738Z","nft_marketplace_id":"x2y2","name":"X2Y2","image":"https://assets.coingecko.com/nft_marketplaces/images/21/small/Logo.png?1693192556","nft_collection_url":"https://x2y2.io/collection/0xBd3531dA5CF5857e7CfAA92426877b022e612cf8"},{"floor_price_in_native_currency":19.6,"h24_volume_in_native_currency":0.0,"native_currency":"ethereum","native_currency_symbol":"ETH","updated_at":"2024-01-24T15:40:52.923Z","nft_marketplace_id":"looksrare","name":"LooksRare","image":"https://assets.coingecko.com/nft_marketplaces/images/2/small/Looksrare.jpg?1686193414","nft_collection_url":"https://looksrare.org/collections/0xBd3531dA5CF5857e7CfAA92426877b022e612cf8?ref=9247712"}]}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e603cdda916d4cb5714c77a315c1717e"
    status:
      code: 200
      message: OK
version: 1
