interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/nfts/markets?order=market_cap_usd_desc&per_page=100&page=1
  response:
    body:
      string: "[{\"id\":\"galxe-oat-v2\",\"contract_address\":\"0x5d666f215a85b87cb042d59662a7ecd2c8cc44e6\",\"asset_platform_id\":\"polygon-pos\",\"name\":\"Galaxy
        OAT\",\"symbol\":\"OAT\",\"image\":{\"small\":\"https://assets.coingecko.com/nft_contracts/images/2912/small/galxe-oat-v2.png?1675752596\"},\"description\":\"Galxe
        OAT (On-chain Achievement Token) is a digital badge standard on Polygon and
        BNB Chain to record your on-chain and off-chain life experiences. Co-launched
        by Galxe, Polygon Studios, and NFT Storage by Filecoin and IPFS.\",\"native_currency\":\"ethereum\",\"native_currency_symbol\":\"ETH\",\"floor_price\":{\"native_currency\":0.327018,\"usd\":728.27},\"market_cap\":{\"native_currency\":7596169,\"usd\":16916609631},\"volume_24h\":{\"native_currency\":0.01048164,\"usd\":23.34},\"floor_price_in_usd_24h_percentage_change\":35303296.64447,\"floor_price_24h_percentage_change\":{\"usd\":35303296.6444745,\"native_currency\":34971150.97536106},\"market_cap_24h_percentage_change\":{\"usd\":35303296.64447443,\"native_currency\":34925174.054862626},\"volume_24h_percentage_change\":{\"usd\":58.21108429635547,\"native_currency\":69.13488060493732},\"number_of_unique_addresses\":2247369.0,\"number_of_unique_addresses_24h_percentage_change\":0.0,\"volume_in_usd_24h_percentage_change\":58.21108,\"total_supply\":23228603.0,\"one_day_sales\":189.0,\"one_day_sales_24h_percentage_change\":65.7894736842105,\"one_day_average_sale_price\":5.5458413475e-05,\"one_day_average_sale_price_24h_percentage_change\":2.01786449186696},{\"id\":\"cryptopunks\",\"contract_address\":\"0xb47e3cd837dDF8e4c57F05d70Ab865de6e193BBB\",\"asset_platform_id\":\"ethereum\",\"name\":\"CryptoPunks\",\"symbol\":\"PUNK\",\"image\":{\"small\":\"https://assets.coingecko.com/nft_contracts/images/270/small/cryptopunks.png?1705042006\"},\"description\":\"\\u003ch3
        dir=\\\"ltr\\\"\\u003eWhat Is the CryptoPunks NFT Collection?\\u003c/h3\\u003e\\r\\n\\r\\n\[...]
