interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/categories?order=market_cap_desc
  response:
    body:
      string: "[{\"id\":\"ftx-holdings\",\"name\":\"FTX Holdings\",\"market_cap\":1399897586179.3345,\"market_cap_change_24h\":1.6968525716557812,\"content\":\"Cryptocurrencies
        currently held by the FTX estate, disclosed in Stakeholder Update Materials.
        The estate comprises FTX.com, FTX.US, and Alameda Research.\",\"top_3_coins\":[\"https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400\",\"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628\",\"https://assets.coingecko.com/coins/images/325/small/Tether.png?1696501661\"],\"volume_24h\":95158679522.78809,\"updated_at\":\"2024-01-08T14:50:07.043Z\"},{\"id\":\"layer-1\",\"name\":\"Layer
        1 (L1)\",\"market_cap\":1337909425633.7988,\"market_cap_change_24h\":1.7800450035161164,\"content\":\"\",\"top_3_coins\":[\"https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400\",\"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628\",\"https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1696501970\"],\"volume_24h\":55276471521.77978,\"updated_at\":\"2024-01-08T[...]
