interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/categories?order=market_cap_desc
  response:
    body:
      string: "[{\"id\":\"ftx-holdings\",\"name\":\"FTX Holdings\",\"market_cap\":1390087216046.9976,\"market_cap_change_24h\":-0.6234211763774916,\"content\":\"Cryptocurrencies
        currently held by the FTX estate, disclosed in Stakeholder Update Materials.
        The estate comprises FTX.com, FTX.US, and Alameda Research.\",\"top_3_coins\":[\"https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400\",\"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628\",\"https://assets.coingecko.com/coins/images/325/small/Tether.png?1696501661\"],\"volume_24h\":78058050872.76457,\"updated_at\":\"2024-01-15T08:50:04.724Z\"},{\"id\":\"layer-1\",\"name\":\"Layer
        1 (L1)\",\"market_cap\":1329506329584.832,\"market_cap_change_24h\":-0.6081985000757011,\"content\":\"\",\"top_3_coins\":[\"https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400\",\"https://assets.coingecko.com/coins/images/279/small/ethereum.png?1696501628\",\"https://assets.coingecko.com/coins/images/825/small/bnb-icon2_2x.png?1696501970\"],\"volume_24h\":45369145769.74413,\"updated_at\":\"2024-01-15T[...]
