interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/companies/public_treasury/ethereum
  response:
    body:
      string: '{"total_holdings":31146.0,"total_value_usd":78232980.6470601,"market_cap_dominance":0.03,"companies":[{"name":"Meitu
        Inc","symbol":"HKG:1357","country":"HK","total_holdings":31000,"total_entry_value_usd":50500000,"total_current_value_usd":77866255,"percentage_of_total_supply":0.026},{"name":"Mogo
        Inc.","symbol":"NASDAQ:MOGO","country":"CA","total_holdings":146,"total_entry_value_usd":405880,"total_current_value_usd":366724,"percentage_of_total_supply":0.0}]}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c8f6ba4ab539b602f8f638e4a64d8f08"
    status:
      code: 200
      message: OK
version: 1
