interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/companies/public_treasury/ethereum
  response:
    body:
      string: '{"total_holdings":31146.0,"total_value_usd":70586807.33405979,"market_cap_dominance":0.03,"companies":[{"name":"Meitu
        Inc","symbol":"HKG:1357","country":"HK","total_holdings":31000,"total_entry_value_usd":50500000,"total_current_value_usd":70255924,"percentage_of_total_supply":0.026},{"name":"Mogo
        Inc.","symbol":"NASDAQ:MOGO","country":"CA","total_holdings":146,"total_entry_value_usd":405880,"total_current_value_usd":330882,"percentage_of_total_supply":0.0}]}'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b60c32c0de0c5f0ed26f3d664afe91d"
    status:
      code: 200
      message: OK
version: 1
