interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/nfts/list?per_page=100&page=1
  response:
    body:
      string: "[{\"id\":\"squiggly\",\"contract_address\":\"0x36F379400DE6c6BCDF4408B282F8b685c56adc60\",\"name\":\"Squiggly\",\"asset_platform_id\":\"ethereum\",\"symbol\":\"~~\"},{\"id\":\"voxelglyph\",\"contract_address\":\"0xa94161fbe69e08ff5a36dfafa61bdf29dd2fb928\",\"name\":\"Voxelglyph\",\"asset_platform_id\":\"ethereum\",\"symbol\":\"#\"},{\"id\":\"autoglyphs\",\"contract_address\":\"0xd4e4078ca3495de5b1d4db434bebc5a986197782\",\"name\":\"Autoglyphs\",\"asset_platform_id\":\"ethereum\",\"symbol\":\"\u2635\"},{\"id\":\"meebits\",\"contract_address\":\"0x7Bd29408f11D2bFC23c34f18275bBf23bB716Bc7\",\"name\":\"Meebits\",\"asset_platform_id\":\"ethereum\",\"symbo[...]
