interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/nfts/pudgy-penguins
  response:
    body:
      string: '{"id":"pudgy-penguins","contract_address":"0xBd3531dA5CF5857e7CfAA92426877b022e612cf8","asset_platform_id":"ethereum","name":"Pudgy
        Penguins","symbol":"PPG","image":{"small":"https://assets.coingecko.com/nft_contracts/images/38/small/pudgy-penguins.png?1705041942"},"description":"\u003ch3
        dir=\"ltr\"\u003eWhat Is the Pudgy Penguins NFT Collection?\u003c/h3\u003e\r\n\r\n\u003cp
        dir=\"ltr\"\u003ePudgy Penguins is a collection of 8,888 unique NFTs featuring
        cute cartoon penguins, which are generated from a collection of 150 different
        hand-drawn traits. The motto behind the NFT collection is \u0026ldquo;spreading
        good vibes across the meta.\u0026rdquo;\u0026nbsp;\u003c/p\u003e\r\n\r\n\u003cp
        dir=\"ltr\"\u003eLaunched on 22 Jul[...]
