interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin%2Cethereum&order=market_cap_desc&per_page=1&page=1&sparkline=False&locale=en
  response:
    body:
      string: '[{"id":"bitcoin","symbol":"btc","name":"Bitcoin","image":"https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1696501400","current_price":42652,"market_cap":837025489900,"market_cap_rank":1,"fully_diluted_valuation":896849631000,"total_volume":20679539886,"high_24h":43088,"low_24h":41747,"price_change_24h":-339.10884563378204,"price_change_percentage_24h":-0.78878,"market_cap_change_24h":-4606129746.670288,"market_cap_change_percentage_24h":-0.54729,"circulating_supply":19599200.0,"total_supply":21000000.0,"max_supply":21000000.0,"ath":69045,"ath_change_percentage":-38.16427,"ath_date":"2021-11-10T14:24:11.849Z","atl":67.81,"atl_change_percentage":62862.63829,"atl_date":"2013-07-06T00:00:00.000Z","roi":null,"last_updated":"2024-01-15T08:54:30.919Z"}]'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d6b0372002d89080bb5d9c8f224c1e98"
      Source:
      - database
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin%2Cethereum&order=market_cap_desc&per_page=1&page=2&sparkline=False&locale=en
  response:
    body:
      string: '[{"id":"ethereum","symbol":"eth","name":"Ethereum","image":"https://assets.coingecko.com/coins/images/279/large/ethereum.png?1696501628","current_price":2512.06,"market_cap":302475645108,"market_cap_rank":2,"fully_diluted_valuation":302475645108,"total_volume":17853727431,"high_24h":2557.23,"low_24h":2472.13,"price_change_24h":-39.935914304343896,"price_change_percentage_24h":-1.56489,"market_cap_change_24h":-4065626990.8494873,"market_cap_change_percentage_24h":-1.32629,"circulating_supply":120180819.149638,"total_supply":120180819.149638,"max_supply":null,"ath":4878.26,"ath_change_percentage":-48.45338,"ath_date":"2021-11-10T14:24:19.604Z","atl":0.432979,"atl_change_percentage":580662.40328,"atl_date":"2015-10-20T00:00:00.000Z","roi":{"times":77.75902973396462,"currency":"btc","percentage":7775.902973396463},"last_updated":"2024-01-15T08:54:34.124Z"}]'
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/2
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f671044e8d233adf96173374e4ae6c6f"
      Source:
      - database
    status:
      code: 200
      message: OK
version: 1
