interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=False&locale=en
  response:
    body:
      string: '[{"id":"bitcoin","symbol":"btc","name":"Bitcoin","image":"https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1696501400","current_price":42652,"market_cap":837025489900,"market_cap_rank":1,"fully_diluted_valuation":896849631000,"total_volume":20645890250,"high_24h":43088,"low_24h":41747,"price_change_24h":-339.04617163644434,"price_change_percentage_24h":-0.78864,"market_cap_change_24h":-4606129746.670288,"market_cap_change_percentage_24h":-0.54729,"circulating_supply":19599200.0,"total_supply":21000000.0,"max_supply":21000000.0,"ath":69045,"ath_change_percentage":-38.16427,"ath_date":"2021-11-10T14:24:11.849Z","atl":67.81,"atl_change_percentage":62862.63829,"atl_date":"2013-07-06T00:00:00.000Z","roi":null,"last_updated":"2024-01-15T08:54:11.000Z"},{"id":"ethereum","symbol":"eth","name":"Ethereum","image":"https://assets.coingecko.com/coins/images/279/large/ethereum.png?1696501628","current_price":2511.71,"market_cap":302475645108,"market_cap_rank":2,"fully_diluted_valuation":302475645108,"total_volume":17888645380,"high_24h":2557.23,"low_24h":2472.13,"price_change_24h":-40.28492137380272,"price_change_percentage_24h":-1.57856,"market_cap_change_24h":-4065626990.8494873,"market_cap_change_percentage_24h":-1.32629,"circulating_supply":120180819.149638,"total_supply":120180819.149638,"max_supply":null,"ath":4878.26,"ath_change_percentage":-48.45338,"ath_date":"2021-11-10T14:24:19.604Z","atl":0.432979,"atl_change_percentage":580662.40328,"atl_date":"2015-10-20T00:00:00.000Z","roi":{"times":77.74808754653728,"currency":"btc","percentage":7774.808754653727},"last_updated":"2024-01-15T08:54:24.000Z"},{"id":"tether","symbol":"usdt","name":"Tether","image":"https://assets.coingecko.com/coins/images/325/large/Tether.png?1696501661","current_price":0.999892,"market_cap":95000621350,"market_cap_rank":3,"fully_diluted_valuation":95000621350,"total_volume":20454349609,"high_24h":1.002,"low_24h":0.995467,"price_change_24h":-0.000574545534728133,"price_change_percentage_24h":-0.05743,"market_cap_change_24h":-47897960.514556885,"market_cap_[...]
