interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/ethereum/contract/0x1f9840a85d5af5bf1d1762f925bdaddc4201f984
  response:
    body:
      string: "{\"id\":\"uniswap\",\"symbol\":\"uni\",\"name\":\"Uniswap\",\"web_slug\":\"uniswap\",\"asset_platform_id\":\"ethereum\",\"platforms\":{\"ethereum\":\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\",\"xdai\":\"0x4537e328bf7e4efa29d05caea260d7fe26af9d74\",\"near-protocol\":\"1f9840a85d5af5bf1d1762f925bdaddc4201f984.factory.bridge.near\",\"arbitrum-one\":\"0xfa7f8980b0f1e64a2062791cc3b0871572f1f7f0\",\"binance-smart-chain\":\"0xbf5140a22578168fd562dccf235e5d43a02ce9b1\",\"optimistic-ethereum\":\"0x6fd9d7ad17242c41f7131d257212c54a0e816691\",\"polygon-pos\":\"0xb33eaad8d922b1083446dc23f610c2567fb5180f\",\"huobi-token\":\"0x22c54ce8321a4015740ee1109d9cbc25815c46e6\",\"avalanche\":\"0x8ebaf22b6f053dffeaf46f4dd9efa95d89ba8580\",\"harmony-shard-0\":\"0x90d81749da8867962c760414c1c25ec926e889b6\",\"sora\":\"0x009be848df92a400da2f217256c88d1a9b1a0304f9b3e90991a67418e1d3b08c\",\"energi\":\"0x665b3a802979ec24e076c80025bff33c18eb6007\"},\"detail_platforms\":{\"ethereum\":{\"decimal_place\":18,\"contract_address\":\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\"},\"xdai\":{\"decimal_place\":18,\"contract_address\":\"0x4537e328bf7e4efa29d05caea260d7fe26af9d74\"},\"near-protocol\":{\"decimal_place\":18,\"contract_address\":\"1f9840a85d5af5bf1d1762f925bdaddc4201f984.factory.bridge.near\"},\"arbitrum-one\":{\"decimal_place\":18,\"contract_address\":\"0xfa7f8980b0f1e64a2062791cc3b0871572f1f7f0\"},\"binance-smart-chain\":{\"decimal_place\":18,\"contract_address\":\"0xbf5140a22578168fd562dccf235e5d43a02ce9b1\"},\"optimistic-ethereum\":{\"decimal_place\":18,\"contract_address\":\"0x6fd9d7ad17242c41f7131d257212c54a0e816691\"},\"polygon-pos\":{\"decimal_place\":18,\"contract_address\":\"0xb33eaad8d922b1083446dc23f610c2567fb5180f\"},\"huobi-token\":{\"decimal_place\":18,\"contract_address\":\"0x22c54ce8321a4015740ee1109d9cbc25815c46e6\"},\"avalanche\":{\"decimal_place\":18,\"contract_address\":\"0x8ebaf22b6f053dffeaf46f4dd9efa95d89ba8580\"},\"harmony-shard-0\":{\"decimal_place\":18,\"contract_address\":\"0x90d81749da8867962c760414c1c25ec926e889b6\"},\"sora\":{\"decimal_place\":18,\"contract_address\":\"0x009be848df92a400da2f217256c88d1a9b1a0304f9b3e90991a67418e1d3b08c\"},\"energi\":{\"decimal_place\":18,\"contract_address\":\"0x665b3a802979ec24e076c80025bff33c18eb6007\"}},\"block_time_in_minutes\":0,\"hashing_algorithm\":null,\"categories\":[\"Harmony
        Ecosystem\",\"Optimism Ecosystem\",\"Ethereum Ecosystem\",\"Arbitrum Ecosystem\",\"Avalanche
        Ecosystem\",\"Polygon Ecosystem\",\"BNB Chain Ecosystem\",\"Gnosis Chain Ecosystem\",\"Automated
        Market Maker (AMM)\",\"Exchange-based Tokens\",\"Governance\",\"Decentralized
        Exchange (DEX)\",\"Yield Farming\",\"Decentralized Finance (DeFi)\"],\"preview_listing\":false,\"public_notice\":null,\"additional_notices\":[],\"localization\":{\"en\":\"Uniswap\",\"de\":\"Uniswap\",\"es\":\"Uniswap\",\"fr\":\"Uniswap\",\"it\":\"Uniswap\",\"pl\":\"Uniswap\",\"ro\":\"Uniswap\",\"hu\":\"Uniswap\",\"nl\":\"Uniswap\",\"pt\":\"Uniswap\",\"sv\":\"Uniswap\",\"vi\":\"Uniswap\",\"tr\":\"Uniswap\",\"ru\":\"Uniswap\",\"ja\":\"\u30E6\u30CB\u30B9\u30EF\u30C3\u30D7\",\"zh\":\"Uniswap\",\"zh-tw\":\"Uniswap\",\"ko\":\"Uniswap\",\"ar\":\"Uniswap\",\"th\":\"Uniswap\",\"id\":\"Uniswap\",\"cs\":\"Uniswap\",\"da\":\"Uniswap\",\"el\":\"Uniswap\",\"hi\":\"Uniswap\",\"no\":\"Uniswap\",\"sk\":\"Uniswap\",\"uk\":\"Uniswap\",\"he\":\"Uniswap\",\"fi\":\"Uniswap\",\"bg\":\"Uniswap\",\"hr\":\"Uniswap\",\"lt\":\"Uniswap\",\"sl\":\"Uniswap\"},\"description\":{\"en\":\"UNI
        is the governance token for Uniswap, an Automated Market Marker DEX on the
        Ethereum blockchain. The UNI token allows token holders to participate in
        the governance of the protocol. Key decisions such as usage of the treasury
        or future upgrades can be decided through a governance vote.\",\"de\":\"UNI
        is the governance token for Uniswap, an Automated Market Marker DEX on the
        Ethereum blockchain. The UNI token allows token holders to par[...]
