interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/bitcoin/tickers?exchange_ids=binance%2Ccoinbase-pro&include_exchange_logo=False&order=trust_score_desc&depth=False
  response:
    body:
      string: '{"name":"Bitcoin","tickers":[{"base":"BTC","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":42669.99,"volume":33059.53504,"converted_last":{"btc":1.000524,"eth":16.986931,"usd":42667},"converted_volume":{"btc":32946,"eth":559356,"usd":1404960326},"trust_score":"green","bid_ask_spread_percentage":0.010023,"timestamp":"2024-01-15T08:52:02+00:00","last_traded_at":"2024-01-15T08:52:02+00:00","last_fetch_at":"2024-01-15T08:54:00+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://www.binance.com/en/trade/BTC_USDT?ref=37754157","token_info_url":null,"coin_id":"bitcoin","target_coin_id":"tether"},{"base":"BTC","target":"FDUSD","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":42681.19,"volume":49991.80418,"converted_last":{"btc":0.99989742,"eth":16.976796,"usd":42643},"converted_volume":{"btc":49830,"eth":846032,"usd":2125077159},"trust_score":"green","bid_ask_spread_percentage":0.016444,"timestamp":"2024-01-15T08:53:41+00:00","last_traded_at":"2024-01-15T08:53:41+00:00","last_fetch_at":"2024-01-15T08:53:41+00:00","is_anomaly":false,"is_sta[...]
