interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/bitcoin/tickers?include_exchange_logo=False&order=trust_score_desc&depth=False
  response:
    body:
      string: '{"name":"Bitcoin","tickers":[{"base":"BTC","target":"USDT","market":{"name":"OrangeX","identifier":"orangex","has_trading_incentive":false},"last":42678.576,"volume":11626.50928,"converted_last":{"btc":1.000725,"eth":16.990849,"usd":42678},"converted_volume":{"btc":11587,"eth":196726,"usd":494140119},"trust_score":"green","bid_ask_spread_percentage":0.010337,"timestamp":"2024-01-15T08:53:39+00:00","last_traded_at":"2024-01-15T08:53:39+00:00","last_fetch_at":"2024-01-15T08:53:39+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://www.orangex.com/spot/BTC-USDT-SPOT","token_info_url":null,"coin_id":"bitcoin","target_coin_id":"tether"},{"base":"BTC","target":"USDT","market":{"name":"Hotcoin
        Global","identifier":"hotcoin_global","has_trading_incentive":false},"last":42666.7,"volume":9563.1674,"converted_last":{"btc":1.000447,"eth":16.985621,"usd":42664},"converted_volume":{"btc":9567,"eth":162436,"usd":407998927},"trust_score":"green","bid_ask_spread_percentage":0.010961,"timestamp":"2024-01-15T08:54:02+00:00","last_traded_at":"2024-01-15T08:54:02+00:00","last_fetch_at":"2024-01-15T08:54:02+00:00","is_anomaly"[...]
