interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/coins/bitcoin?localization=True&tickers=True&include_exchange_logo=False&market_data=True&community_data=True&developer_data=True&description_data=True&sparkline=False
  response:
    body:
      string: "{\"id\":\"bitcoin\",\"symbol\":\"btc\",\"name\":\"Bitcoin\",\"web_slug\":\"bitcoin\",\"asset_platform_id\":null,\"platforms\":{\"\":\"\"},\"detail_platforms\":{\"\":{\"decimal_place\":null,\"contract_address\":\"\"}},\"block_time_in_minutes\":10,\"hashing_algorithm\":\"SHA-256\",\"categories\":[\"FTX
        Holdings\",\"Layer 1 (L1)\",\"Cryptocurrency\"],\"preview_listing\":false,\"public_notice\":null,\"additional_notices\":[],\"localization\":{\"en\":\"Bitcoin\",\"de\":\"Bitcoin\",\"es\":\"Bitcoin\",\"fr\":\"Bitcoin\",\"it\":\"Bitcoin\",\"pl\":\"Bitcoin\",\"ro\":\"Bitcoin\",\"hu\":\"Bitcoin\",\"nl\":\"Bitcoin\",\"pt\":\"Bitcoin\",\"sv\":\"Bitcoin\",\"vi\":\"Bitcoin\",\"tr\":\"Bitcoin\",\"ru\":\"\u0411\u0438\u0442\u043A\u043E\u0438\u043D\",\"ja\":\"\u30D3\u30C3\u30C8\u30B3\u30A4\u30F3\",\"zh\":\"\u6BD4\u7279\u5E01\",\"zh-tw\":\"\u6BD4\u7279\u5E63\",\"ko\":\"\uBE44\uD2B8\uCF54\uC778\",\"ar\":\"\u0628\u064A\u062A\u0643\u0648\u064A\u0646\",\"th\":\"\u0E1A\u0E34\u0E15\u0E04\u0E2D\u0E22\u0E19\u0E4C\",\"id\":\"Bitcoin\",\"cs\":\"Bitcoin\",\"da\":\"Bitcoin\",\"el\":\"Bitcoin\",\"hi\":\"Bitcoin\",\"no\":\"Bitcoin\",\"sk\":\"Bitcoin\",\"uk\":\"Bitcoin\",\"he\":\"Bitcoin\",\"fi\":\"Bitcoin\",\"bg\":\"Bitcoin\",\"hr\":\"Bitcoin\",\"lt\":\"Bitcoin\",\"sl\":\"Bitcoin\"},\"description\":{\"en\":\"Bitcoin
        is the first successful internet money based on peer-to-peer technology; whereby
        no central bank or authority is involved in the transaction and production
        of the Bitcoin currency. It was created by an anonymous individual/group under
        the name, Satoshi Nakamoto. The source code is available publicly as an open
        source project, anybody can look at it and be part of the developmental process.\\r\\n\\r\\nBitcoin
        is changing the way we[...]
