interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pro-api.coingecko.com/api/v3/key
  response:
    body:
      string: '{"plan":"Other","rate_limit_request_per_minute":500,"monthly_call_credit":1000,"current_total_monthly_calls":4,"current_remaining_monthly_calls":996}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"ba05b399466175ce02427813c88ed1d5"
    status:
      code: 200
      message: OK
version: 1
